/*------- Général ------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burger_menu{
    display: none;
}

#wrapper {
    width: 40%;
    margin: 0 auto;
    background-color: white;
}

img{
    width: 100%;
}

.flex{
    display: flex;
}

.marg{
    margin-left: 30px;
}

.flexhead{
    display: flex;
}

.flexsocial{
    display: flex;
    position: relative;
    width: 100%;
    top: 60px;
    filter: invert(1);
}

.bottom{
    position: absolute;
    bottom: 8px;
}

.container {
    position: relative;
    width: 100%; /* Largeur de votre image */
    height: 200px; /* Hauteur de votre image */
    overflow: hidden; /* Pour recadrer l'image */
    color: white;
  }

.overlay {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.267);
    bottom: 1%;
}

.button {
    padding: 6px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    background-color: green;
    left: 85%;
}

.green{
    background-color: rgb(35, 168, 30);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.flexfooter{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.flexgaleri{
    display: flex;
    text-align: left;
}

.flexpartenair{
    display: flex;
    text-align: left;
}

/*------- Header ------*/

header figure{
    width: 10%;
    height: 10%;
    object-fit: cover;
    position: relative;
    top: 10px;
}

nav{
    width: 100%;
}

li{
    list-style: none;
    padding: 25px;
}

a{
    color: gray;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    border-bottom: dashed white;
    position: relative;
    justify-content: center;
    display: flex;
    top: 20px;
}

/*------- Hero ------*/

#crop{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour recadrer l'image */
}

#size{
    height: 200px;
}

h2{
    font-size: 12px;
    position: absolute;
    right: 66%;
    bottom: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*------- Aside ------*/

aside img{
    width: 50%;
}

aside p{
    text-align: justify;
    text-justify: auto;
    padding: 3px;
}

aside{
    width: 40%;
    margin-top: 10px;
}

/*------- Article ------*/

article{
    margin-top: 10px;
    width: 100%;
    margin-right: 35px;
    
}

article p{
    text-align: justify;
    text-justify: auto;
    margin-top: 20px;
    font-size: 13px;
}

article figure{
    width: 6%;
    margin-right: 4px;
}

#border{
    border-bottom: 2px solid rgb(35, 168, 30);
}

.triangle {
    position: relative;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid rgb(35, 168, 30); /* You can change the color here */
}

/*------- Footer ------*/

footer{
    margin-top: 10px;
}

footer button{
    margin-left: 10px;
    background-color: green;
}

footer textarea{
    resize: none;
}

footer input{
    margin-top: 10px;
}

#newsletter{
    text-align: left;
}

/*------- Galerie ------*/

h5{
    text-align: left;
}

footer figure {
    margin-top: 10px;
    margin-right: 10px;
}

/*------- Partenaire ------*/

h6{
    text-align: left;
}

/*------- Tablette ------*/

@media screen and (max-width: 768px) {
    *{
        font-size: 15px;
    }

    #wrapper{
        width: 100%;
    }

    #burger{
        display: block;
        position: absolute;
        background-color: transparent;
        border: none;
        z-index: 9999;
        padding: 2.5em;
        height: 100%;
        top: 0;
        right: 0;
    }

}

/*------- Mobile ------*/

@media screen and (max-width: 480px) {
    *{
        font-size: 15px;
    }

    #wrapper{
        width: 100%;
    }

    .burger_menu{
        display: block;
        position: absolute;
        width: 10%;
        right: 1%;
        top: 2%;
        z-index: 1001;
    }

    header figure{
        width: 20%;
        object-fit: cover;
        position: relative;
        top: 1%;
    }

    nav ul{
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: 0;
        width: 175px;
        height: 100vh;
        background-color: green;
        z-index: 1000;
    }

    #nav-links{
        transform: translate(100%);
        transition: 0.5s;
    }

    a{
        color: white;
    }

    .flex{
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center; 
    }

    aside{
        width: 100%;
    }

    article{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    h1{
        font-size: 35px;
    }

    article figure{
        width: 30%;
    }

    h3{
        font-size: 15px;
    }

    article p{
        padding: 10px;
    }

    #newsletter{
        width: 100%;
        text-align: center;
    }

    .marg{
        margin-left: 0px;
        margin-top: 10px;
    }

    footer input{
        width: 100%;
    }

    .flexsocial{
        display: flex;
        justify-content: space-around;
        position: relative;
        width: 100%;
        top: 1px;
        padding: 10px 0px;
    }

    footer figure{
        margin-right: 5px;
    }

    #newsletter button{
        margin-top: 10px;
    }

    h2{
        font-size: 10px;
        right: 35%;
    }

    .button{
        left: 75%;
        padding: 3px 5px;
    } 

    .flexfooter{
        flex-direction: column;
    }

    .flexfooter button{
        position: relative;
        left: 32%;
        width: 30%;
    }

    .triangle{
        left: 47%;
    }
}