*{
    color: white;
}

#board{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 75px;
    height: 75px;
    border: 0.5pc solid black;
    background-color: rgb(151, 40, 214);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}

.box-valid{
    background-color: #ccc;
    color: #aaa;
    transform: scale(0.8);
}

#background{
    height: 100%;
    width: 100%;
    z-index: -100;
    position: fixed;
    object-fit: cover;
}

#restartBtn{
    background-color: rgba(0, 0, 0, 0.466);
    margin-left: 10px;
}

.marg{
    margin-left: 10px; 
}


#playerName{
    background-color: rgba(0, 0, 0, 0.466);
    margin-left: 5px;
}

.box.error{color: rgb(144, 58, 58); background-color: rgb(255, 160, 190);}
.box.success{color: rgb(11, 138, 22); background-color: rgb(172, 251, 172);}
.box.notice{color: rgb(18, 16, 151); background-color: rgb(184, 217, 255); cursor: not-allowed;} 

@keyframes appear{
    from{
        transform: scale(0) rotate(180deg);
    }
    to{
        transform: scale(1) rotate(0deg);
    }
}